/*INFO for all the page*/

/*Info for the menuBox*/
.menuBox {
  background-color: #111;
  font-family: Arial;
  padding: 1px 10px 20px 10px;
  position: absolute;
  width: 40%;
  top: 10%;
  left: 30%;
  animation-name: slidein;
  animation-duration: .7s;
  border-radius: 20px;
  display: none;
}

@keyframes slidein {
  0% {top: -50%;}
  100% {top: 10%;}
}


.menuBox  a{
  text-align: center;
  display: block;
  transition: all 0.2s ease;
  padding: 14px;
  font-size: 20px;
}

/*info for text in menubox*/
#area {
  color: white;
  text-decoration: none;
  border-radius: 15px;
}

#area:hover {
  background-color: #000;
  color: orange;
  border-radius: 15px;
}


/*title in menubox*/
.menuBoxTitle {
  font-size: 30px;
  border-bottom:2px solid #444;
  text-align: center;
  display: block;
  color: white;
}


/*Mobile Compatability*/
@media screen and (max-width: 900px) { /*Mobile Compatibility - Make the box take up entire screen*/
  .menuBox {
    width: 100%;
    left: 0%;
    top: 0%;
    padding: 0px 0px 10px 0px;
    animation-duration: .0s; /*Cancelles the animation for mobile*/
  }
  body {
    background-color: #111;
  }
  .menuBox  a{
    padding: 16px;
    font-size: 18px;
  }

  /*title in menubox*/
  .menuBoxTitle {
    font-size: 24px;
    color: white;
  }
}
