body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  animation-name: fadein;
  animation-duration: 0.6s

}

/* Modal Content */
.modal-content {
  top: 10%;
  position: relative;
  background-color: #222;
  margin: auto;
  width: 40%;
  /*IMPORTED FROM MAIN MENU BOX*/
  padding: 1px 10px 20px 10px;
  border-radius: 20px;
  animation-name: animatetop;
  animation-duration: 0.6s
}

/* Add Animation */

@keyframes animatetop {
  from {top:-90%; opacity:0}
  to {top:10%; opacity:1}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
.menuBox  a{
  text-align: center;
  display: block;
  transition: all 0.2s ease;
  padding: 14px;
  font-size: 20px;
}

/*info for text in menubox*/
.area {
  color: white;
  text-decoration: none;
  border-radius: 15px;
}

.area:hover {
  background-color: #000;
  color: orange;
  border-radius: 15px;
}


/*title in menubox*/
.menuBoxTitle {
  padding-bottom: 10px;
  font-size: 30px;
  border-bottom:2px solid #444;
  text-align: center;
  display: block;
  color: white;
}


/*Mobile Compatability*/
@media screen and (max-width: 900px) { /*Mobile Compatibility - Make the box take up entire screen*/
  .modal-content {
    width: 100%;
    left: 0%;
    top: 0%;
    padding: 0px 0px 10px 0px;
  }

  .menuBox  a{
    padding: 16px;
    font-size: 18px;
  }

  /*title in menubox*/
  .menuBoxTitle {
    font-size: 24px;
    color: white;
  }
}
