<!DOCTYPE html5>
<title>INDEX</title>
<style></style>
<div class="menuBoxBG"></div>
  <div class="menuBox">
    <p class="menuBoxTitle">Which area do you want to visit?</p>
      {% for item in mainMenuItems %}
      <a href="{{mainMenuItems[item]}}" class="menulink" id="area">{{item}}</a>
      {% endfor%}
<!--NO JS SUPPORT-->
<div class="brs"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
  <a href="npa/LoadingNPA.htm" class="npa">NPA</a>
    </div>
