<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Helps with mobile compatibility-->

<!--This site and all files on this website belong to TheRuntingMuumuu. You may download and edit the code from this website and its subpages and files as long as you do not make any money in any way shape or form without written consent from TheRuntingMuumuu. This includes but is not limeted to pay walls, advertisements, donations, and others. You may not republish any content that has not had been changed, and if you do, you are not to profit from it.-->
<!--LEGALLY its under the DBAD clean licence found in the .licence folder of my website. The path it licences/dbad-clean.txt-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='1mainResources/mainMenu.css') }}">
<script src="{{ url_for('static', filename='1mainResources/mainMenuItems.js') }}"></script>
<link rel="shortcut icon" href="1mainResources/trmicon3circle.png">
<script src="npa/npaTrigger.js"></script>


   <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='menu.css')}}">
  </head>
  <body>
      <div id="bignav">
<div class="menuBoxBG"></div>
  <div class="menuBox">
    <p class="menuBoxTitle">Which area do you want to visit?</p>
      {% for item in mainMenuItems %}
      <a href="{{mainMenuItems[item]}}" class="menulink" id="area">{{item}}</a>
      {% endfor%}
</div>
<!--NO JS SUPPORT-->
<div class="brs"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
  <a href="npa/LoadingNPA.htm" class="npa">NPA</a>
    </div>
      </div>
    <style>

#bignav { display: none; }
#bignav:target {display: block;}
    </style>
    <nav>
        <a href="/eso" class="main">ESO</a>
        <a href="/general" class="main">General</a>
    </nav>
    <div id="content">
    {% block content %}
    {% endblock %}</div>
    <STYLE>
#content {
    height: 100%;
}
      * {
  box-sizing: border-box;
}
      body {
  height: 100vh;
  width: 100vw;
}
      html,
body {
  margin: 0;
  padding: 0;
}
    </STYLE>   

  </body>
</html>
