/*I took a lot of insparation from the fuel rats' website (https://fuelrats.com) so they deserve some credit for the thought of the design.*/

body {
  font-family: sans-serif;
  background-color: #000;
  color: white;
}

.fullPage { /*to allow both panels to sit side by site easily. AMAZING piece of code that I MUST remember*/
  display: flex; /*THIS IS THE MAGIC PIECE, MAKES ALL DIVS INSIDE IT FLEX TO BE THE RIGHT SIZE*/
  position: fixed; /*needed so that it sits flush with the walls*/
  top: 0px; /*again so it is flush with the top*/
  left: 0px; /*flush with the left*/
  height: 100%; /*so it takes up the entire screen (so the content is not only as tall as the content)*/
  width: 100%; /*so it is wide enough (entire screen)*/
}

.sideBar {
  height: 100%;
  width: 12%;
  background-color: #111;
/*  border-style: solid;
  border-color: orange; Weird, I do not like the look of this with round corners. Works well on its own, but not with round corners
  border-width: 0px 4px 0px 0px;*/
  border-radius: 0px 20px 20px 0px;
}


.content {
  margin: 5px;
  padding: 20px;
  width: 100%; /*if there is not enough space, it will compromise with the side bar because of the flex element in the parent div element (.fullPage)    on mobile, I think I will add a side menu that takes up the entire screen with the touch of a button, and I think that that one will make use of this element, since then the side bar will be hidden, and this one will actually NEED the 100%.*/
  background-color: #222;
  border-radius: 20px;
}
