<!DOCTYPE html5>
<title>Brew</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='general/1resources/main.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='general/1resources/generalMenuBar.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--MenuIcon-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!--jquery-->
<link rel="shortcut icon" href="{{url_for('static', filename='general/1resources/brew.png')}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Helps with mobile compatibility-->
<script src="{{url_for('static', filename='general/1resources/mobileMenu.js')}}"></script>


<!--Menu bar-->
<div id="generalNavBar" class="menuBar">{%include 'general/generalNavBar.html'%}</div>


<!--Content for the page-->
<div class="fullPage">
  <div class="mainText">
    <p class="Title">What is brew</p>
    <p class="bodyText">I really dont know. It started as some sort of misunderstanding between me and TheTechRobo where I messed up "Bruh" with "Brew" and it kind of stuck. I really dont know why or how it stuck or became a full on discord server and bot, but it did!! :-)</p>
    <p class="Title">Discord Server</p>
    <p class="bodyText">Yes!! You heard right!! There is a discord server.</p>
    <p class="bodyText">To join it though, you need to be aware of a few rules and agree with them. They are outlined in the discord server, but the premise is very simple. Be respectful and appropriate. If you cannot or will not, you will be kicked.</p>
    <p class="bodyText">The link is <a href="https://discord.gg/Ha62VsnurD" class="textLinks">discord.gg/Ha62VsnurD</a> <b>NOTE: IT IS A WIP</b></p>
    <p class="Title">Brew = Beer?? Right??</p>
    <p class="bodyText">Kind of... We use the beer emote and also sometimes the coulour yellow, but we are not about beer at all. We do not even drink beer. But we are still called brew and we also use the brew emote once in awhile (because why not)</p>
    <!--<p class="Title">brewbot</p>
    <p class="bodyText">brewbot is a bot that is brew. There is a virtual currency, cool features, and a lot else!</p>
    <p class="miniTitle">Closed source??</p>
    <p class="bodyText">It goes against all of TheTechRobo's values, but brewbot is closed source. It's because it's a mess of code D:<br>We may make it open source in the future but for now...<b>No</b></p>-->
  </div>
</div>
