<!DOCTYPE html5>
<title>Alpha Site Portal</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='coding/1resources/main.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='coding/1resources/MenuBar.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--MenuIcon-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> <!--jquery-->
<link rel="shortcut icon" href="{{url_for('static', filename='1mainResources/trmicon3circle.png')}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Helps with mobile compatibility-->
<script src="1resources/mobileMenu.js"></script>


<!--Menu bar-->
<div id="codingNavBar" class="menuBar">{% include 'coding/codingNavBar.html' %}</div>

<!--Individual styling for the portal-->
<style>
body {background-image: none;}
.fullPage {margin-left: 0%; width: 100%; border-radius: 8px; margin-top: 51px; min-height: calc(100vh - 51px)}
.mainText {padding: 5px;}
</style>

<!--Content for the page-->
<div class="fullPage">
  <div class="mainText">
      <iframe src="/downloads/1old/alphaSite.html" width="100%" height="93%" style="border-radius: 8px; border: none; background: #FFFFFF;">Failed to load iframe; click <a href="/downloads/1old/alphasite/index.html">here</a></iframe>
  </div>
</div>
