<!DOCTYPE html5>
<title>TRM's Games</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='coding/1resources/main.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='coding/1resources/MenuBar.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--MenuIcon-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script> <!--jquery-->
<link rel="shortcut icon" href="{{url_for('static', filename='1mainResources/trmicon3circle.png')}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Helps with mobile compatibility-->
<script src="1resources/mobileMenu.js"></script>


<!--Menu bar-->
<div id="codingNavBar" class="menuBar">{% include 'coding/codingNavBar.html' %}</div>


<!--Content for the page-->
<div class="fullPage">
  <div class="mainText">
    <p class="Title">What is this</p>
    <p class="bodyText">These are useless/outdated (or both) programs that I started but never finished, or started but were never terribly good.</p>
    <p class="miniTitle">64Support</p>
    <p class="bodyText">This was a website that I started creating awhile ago. It meant to provide support to simple computer problems through articles, videos, and live help provided by me, but it never took off since I didnt make any tutorials...</p>
    <p class="bodyText"><a class="textLinks" href="{{url_for('downloads', name='64supportdl.zip')}}" download>Download</a></p>
    <p class="miniTitle">Simple Encrypter</p>
    <p class="bodyText">This was a very simple text encrypter that I made. It is terrible, and it has a few hiccups (e.g. the exclamation mark is rendered as an invisible character, so when you copy paste and then decrypt, it isn't there), but here is the link. TheTechRobo maintains it (he is using the term "maintain" very loosely here).</p>
    <p class="bodyText"><a class="textLinks" href="https://github.com/TheRuntingMuumuu/SCtechEncrypterDecrypter">View on Github</a></p>
  </div>
</div>
