html { overflow-y: hidden; }/*Disables Scrolling*/

body {
  margin: 0px;
  background-color:limegreen;
  font-family: Cantarell;
}

.menuContainer {
  width: 100%;
  height: ;
  text-align: center;
  overflow: hidden;
  position: fixed;
  bottom: 0px;
}

.menu {
  overflow: hidden;
  background-color: black;
  position: fixed;
  text-align: center;
  bottom: 0px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.menu a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.menu a:hover {
  background-color: limegreen;
  border-radius: 2px;

}

.logoot {
  background: red;
  color: white;
  float: right;
}

.leave {
  background: darkgrey;
  color: white;
  float: right;
}

.leave :hover {
  background-color: blue;
}

.main {
  background: black;
  color: white;
}
