html { overflow-y: hidden; }/*Disables Scrolling*/

body {
  margin: 0px;
  font-family: Cantarell;
  animation-name: fade;
  animation-duration: .7s;
  background-color: limegreen;

}

::selection { /*To change the selection tool (selecting text)*/
color: white;
background: black;
}
::-moz-selection { /* Code for Firefox */
color: white;
background: black;
}


/*Menu stuff*/
.menuContainer {
  width: 100%;
  height: ;
  text-align: center;
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  z-index: 5;

}

.menu {
  overflow: ;
  background-color: black;
  position: fixed;
  text-align: center;
  bottom: 0px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.menu a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.menu a:hover {
  background-color: limegreen;
  border-radius: 2px;

}

/*Dropup*/


.dropupDiv {
  display: inline-block; /*So that the dropup being in a seperate div does not mess everything up*/
  z-index: 1;
}

.dropup {
  transition: all 0.3s ease;
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 200px;
  text-decoration: center;
  bottom: 48px;
  z-index: 1;
  border: solid;
  border-radius: 8px;

}

.dropup a {
  color: white;
  font-size: 12px
  text-decoration: none;
  display: block;
}

.dropup a:hover {
  background-color: rgba(50,205,50,.8)
}

.dropupDiv:hover .dropup {
  animation-name: fade;
  animation-duration: .7s;
  display: block;
}

@keyframes fade {
  0% {opacity: 0;}
  65% {opacity: 0;}
  100% {opacity: 1;}
}

.dropupDiv:hover .dropupButton {
}

/*Logout Button*/
.LOdropupDiv {
  float: right;
  border-radius: 4px 15px 4px 4px;
  background: red;
}

.LOdropup {
  right: 0px;
}


.LOdropup a:hover {
  background-color: red;
}


/*Main stuff*/
.main {
  background: black;
  color: white;
}

@font-face { /*The GNOME stuff*/
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cantarell/v10/B50NF7ZDq37KMUvlO015jKJr.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Buttons*/
.largeButtons {
  background-color: black;
  color: #FFFFFFFE;
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: crosshair;
  width:7%;
  left:80px;
  border-radius: 15px;
  margin: 20px;
  min-width: 100px;
}
