/**/
.window {
  width: 100%;
  position: fixed;
  top: 20px; /*Make room for top bar*/
  height: calc(100vh - 48px - 20px); /*Height - bottombar minus topbar*/
  display: none;
  background-color: limegreen;
  z-index: 0
}

.topbar {
  top: 0px;
  display: inline;
  position: fixed;
  border-radius: 2px;
  background-color: #555;
  width: 100%;
  height: 20px;
  overflow: hidden;
  z-index: 1;
  text-align: center;
}

.topbar a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.reload {
  float: right;
}

.whoLoggedIn {
  left: 50%;
}

.login {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
  background-color: #333;
  animation-name: slidein;
  animation-duration: .7s;
  color: white;
  font-size: 18px;
}

@keyframes slidein {
  0% {top: -100%;}
  100% {top: 0;}
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/*Individual Windows*/
.mainWindow {
  display: ;
  animation-name: fade;
  animation-duration: .3s;
}

.securityWindow {
  display: ;
  animation-name: fade;
  animation-duration: .3s;
}

.todoWindow {
  display: ;
  animation-name: fade;
  animation-duration: .3s;
}

.qrScanWindow {
  display: ;
  animation-name: fade;
  animation-duration: .3s;
}

.qrCodeWindow {
  display: ;
  animation-name: fade;
  animation-duration: .3s;
}

.linksWindow {
  display: ;
  animation-name: fade;
  animation-duration: .3s;
}
