html {
  height: 100%;
}
body {
  font-family: arial;
  background-color: #;
  margin: 0px; /*Makes it so that the elements float at the left and top for 0px. Replaces the position fixed+top0+left0    EXTREMELY USEFUL THING TO PUT IN THE BODY TAG!!*/
  height: 100%;
}

.mainText {
  float:left;
  padding:12px;
}

.resources {
  display: block;
  padding:2px;
  margin-right: 1%;
  color:white;
}

.resources li a {
  display:block;
  text-decoration: none;
  color:white;
  border-bottom:2px solid #444;
  padding:15px;
  right: 20px;
}

.resources li a:hover {
  background-color:#111;
  transition-duration: .20s;
  color:orange;
  border-radius: 15px;
  border-bottom: 2px solid #111;
}

.resourcesTitle li {
  text-decoration: none;
  color:white;
  font-size:30px;
  display:block;
  margin-top:10px;
  list-style-type: none;
  padding:1%;
  right: 20px
}

.resourcesTitle {
  list-style-type: none;
  margin-right: 1%;
  color:white;
}

/*New layout code*/

.fullPage { /*to allow both panels to sit side by site easily. AMAZING piece of code that I MUST remember*/
  display: flex; /*THIS IS THE MAGIC PIECE, MAKES ALL DIVS INSIDE IT FLEX TO BE THE RIGHT SIZE*/
  position: ; /*needed so that it sits flush with the walls, unless you add the margin:0px in the body tag which I did, so now it is not needed*/
  top: 0px; /*again so it is flush with the top*/
  left: 0px; /*flush with the left*/
  height: 100%; /*so it takes up the entire screen (so the content is not only as tall as the content)*/
  width: 100%; /*so it is wide enough (entire screen)*/
  background-color: #333;
}

.MCsideBar {
  position: relative;
  width: 25%;
  background-color: #333;
  overflow: auto;

}


.MCcontent {
  width: 100%; /*if there is not enough space, it will compromise with the side bar because of the flex element in the parent div element (.fullPage)    on mobile, I think I will add a side menu that takes up the entire screen with the touch of a button, and I think that that one will make use of this element, since then the side bar will be hidden, and this one will actually NEED the 100%.*/
  background-color: #eee;
  border-radius: 15px;
  padding: 20px;
  margin: 2px 2px 2px 2px;
  overflow: auto;
}

/*Index Button*/
.indexButton {
  color: white;
  float: right;
  padding: 12px 26px;
  font-size: 20px;
  font-family: arial;
}

.indexButton:hover {
  color: orange;
  background-color: #333;
}

.mobileMenu { /*Button to trigger the menu*/
  display: none;
}
.indexButtonMobile {
  display: none;
}
/*Mobile Compatability*/

@media screen and (max-width: 1200px) { /*Mobile Compatibility - change menu to slide menu*/
  html {
    height: auto; /*fixes mobile menu scroll*/
  }
  body {
    height: auto; /*fixes mobile menu scroll*/
    background-color: #333;
  }
  .MCcontent {
    height: 100%;
  }
  .MCsideBar {
    width: 0px;
  }
  /*Menu list*/
  .resources {
    display:;
  }

  .resourcesTitle {
    display:;
  }
  /*Mobile Menu Stuff (panel)*/
  .mobileMenu { /*Stuff for the mobikle menu open button*/
    position: fixed;
    display: block;
    top: 0%;
    font-size: 20px;
    text-decoration: none;
    background-color: #444
    color: white;
    padding:15px;
    float: right;
    right: 0%;

  }
  .mobileMenuNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    text-align:center;
  }

  .mobileMenuNav a {
    font-size: 20px;
    color: #818181; /*colour of the X icon for the mobile menu*/

  }

  .mobileMenuNav a:hover{
    color: #f1f1f1;
  }

  .mobileMenuNav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
  }
  .indexButton { /*Better placement for index button*/
    display: none;
  }
}
