<!DOCTYPE html5>
<title>School Projects I</title>
<link rel="stylesheet" type="text/css" href="1resources/main.css">
<link rel="stylesheet" type="text/css" href="1resources/schoolMenuBar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--MenuIcon-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> <!--jquery-->
<link rel="shortcut icon" href="../1mainResources/trmicon3circle.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Helps with mobile compatibility-->
<script src="1resources/mobileMenu.js"></script>


<!--Menu bar-->
<div id="schoolNavBar" class="menuBar"><script src="schoolNavBar.js"></script></div>


<!--Content for the page-->
<div class="fullPage">
  <div class="mainText">
    <p class="Title">Geography</p>
      <p class="miniTitle">My Maps assignment</p>
        <p class="bodyText">For this assignment I had to make a map of canada and do something. I cannot remember exactly though.</p>
        <p class="bodyText"><b>NOTE: This is in french. Also, it uses Google Maps.</b></p>
        <p class="bodyText"><a class="textLinks" href="Grade9/mymaps.html" target="blank">Direct Link<a></p>
        <p class="bodyText"><a class="textLinks mobileNo" href="portal.html?site=Grade9/mymaps.html">Portal</a></p>

    <p class="Title">French</p>
      <p class="miniTitle">Glogster assignment</p>
        <p class="bodyText">For this assignmet I had to make something that showed stuff about the school. I dont remember much about it other that it went against all of the rules that I had learned in my life about how to make something look cool. But I ended up not doing terribly and I made a very weird thing.</p>
        <p class="bodyText">Now, in this assignment I talk about how amazing of a school my school is, because I know that if I said otherwise, the teacher would have failed me. In reality, I think that my school is the worst school ever. Their admin team is terrible, and they do not accomodate IEPs very well. There are almost no computer courses and definitely NO computer clubs. It is a very good school for "normal" people and even "normal" different people, but for anyone who is different than the steriotypical "normal" or steriotypical "different" person, it is completely terrible and I would under no circumstances suggest for people to attend.</p>
        <p class="bodyText"><b>NOTE: This is in french and accesses the Glogster website.</b></p>
        <p class="bodyText"><a class="textLinks" href="Grade9/french2019.htm" target="blank">Direct Link<a></p>
        <p class="bodyText"><a class="textLinks mobileNo" href="portal.html?site=Grade9/french2019.htm">Portal</a></p>
        <p class="bodyText"><a class="textLinks" href="Grade9/french2019ss.png" target="blank">ScreenShot<a></p>
        <p class="bodyText"><a class="textLinks mobileNo" href="portal.html?site=Grade9/french2019ss.png">Screenshot Portal</a></p>
    <p class="Title">English</p>
      <p class="miniTitle">Essay Outline</p>
        <p class="bodyText">For this assignment I had to read a book, and then write up an essay on the theme of the book. I chose the book Dune by Frank Herbert and I found this assignment very hard. I did not really understand theme and I ended up doing very poorly on this project, however I am happy that I finished it and I could see the information being useful for some points for anyone doing a project on Dune.</p>
        <p class="bodyText"><a class="textLinks" href="Grade9/Dune Essay Outline.pdf" target="blank">Link<a></p>
        <p class="bodyText"><a class="textLinks mobileNo" href="portal.html?site=Grade9/Dune Essay Outline.pdf">Portal</a></p>
  </div>
</div>
