<!DOCTYPE html5>
<title>School Projects</title>
<link rel="stylesheet" type="text/css" href="1resources/main.css">
<link rel="stylesheet" type="text/css" href="1resources/schoolMenuBar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--MenuIcon-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> <!--jquery-->
<link rel="shortcut icon" href="../1mainResources/trmicon3circle.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Helps with mobile compatibility-->
<script src="1resources/mobileMenu.js"></script>


<!--Menu bar-->
<div id="schoolNavBar" class="menuBar"><script src="schoolNavBar.js"></script></div>


<!--Content for the page-->
<div class="fullPage">
  <div class="mainText">
    <p class="Title">Intro</p>
    <p class="bodyText">This section of my website will have many school projects that I am proud of. I am a grade 10 student who enjoys learning and making good projects for school. I will be posting some of my projects here that I am proud of and that I think might be useful for other people.</p>
    <p class="Title">Proud Definition</p>
    <p class="bodyText">I think that I may have a different definition of proud than most. For me, getting a 4+ does not mean that I could be proud of something even if I fail it, if I accomplish something. Because for me, school isnt just about learning academics. It is about learning life skills, and life skills are not shown in a grade.</p>
    <p class="bodyText">That being said, I still think school is very important and I still think that getting good marks are important, but I do not think that they tell the whole story.</p>
    <p class="Title">Will I put anything else here?</p>
    <p class="bodyText">Yes I will. I will also be putting projects and files that I need for school and that might benifit from having them posted on a website.</p>
    <p class="Title">Is this information credible?</p>
    <p class="bodyText">Yes and no. In all of my assignments I try to be as true as possible, but there are some assignments where I need put some "falsish" information to make the teacher give me a good mark. So I would say that yes you can use this website for projects, but do some reasearch, and don't use this as your only source, and if something else contradicts this website, they are probably correct.</p>

      <!--<ul class="linkList">
        <li><a href="" class="linkList" target="_blank"></a></li>
      </ul>       HIDDEN SO THAT I DONT LOSE THIS CODE, USEFUL TO CREATE LINK LISTS-->
  </div>
</div>
