<!DOCTYPE html5>
<title>School Projects IV</title>
<link rel="stylesheet" type="text/css" href="1resources/main.css">
<link rel="stylesheet" type="text/css" href="1resources/schoolMenuBar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--MenuIcon-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> <!--jquery-->
<link rel="shortcut icon" href="../1mainResources/trmicon3circle.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Helps with mobile compatibility-->
<script src="1resources/mobileMenu.js"></script>


<!--Menu bar-->
<div id="schoolNavBar" class="menuBar"><script src="schoolNavBar.js"></script></div>


<!--Content for the page-->
<div class="fullPage">
  <div class="mainText">
    <p class="Title">Grade 11</p>
    <p class="bodyText">These are some assignments that I am proud of from Grade 11.</p>
  </div>
</div>
