<!DOCTYPE html5>
<title>Random Files</title>
<link rel="stylesheet" type="text/css" href="1resources/main.css">
<link rel="stylesheet" type="text/css" href="1resources/schoolMenuBar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--MenuIcon-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> <!--jquery-->
<link rel="shortcut icon" href="../1mainResources/trmicon3circle.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Helps with mobile compatibility-->
<script src="1resources/mobileMenu.js"></script>


<!--Menu bar-->
<div id="schoolNavBar" class="menuBar"><script src="schoolNavBar.js"></script></div>


<!--Content for the page-->
<div class="fullPage">
  <div class="mainText">
    <p class="Title">About this Page</p>
        <p class="bodyText">This page will just have some files that I have uploaded to my website for many reasons. They could be images that I need a source for (so my website as a source), they could be documents that I need to embed somewhere (from a link) or they could be many other things. All of these files are free to use and modify for anyone as long as you do not make money off of them. The full terms can be found in the DBAD licence found <a href ="../1licence/DBAD - Clean.txt" class="textLinks">here</a></p>
    <p class="Title">Images</p>
        <p class="bodyText"><a class="textLinks" href="images/trail_of_bodies.jpg">Trail Of Bodies with Man walking away Image<a></p>
  </div>
</div>
