/*INFO for all the page*/

/*Info for the menuBox*/
.infoBox {
  background-color: #111;
  font-family: Arial;
  padding: 1px 10px 20px 10px;
  position: fixed;
  width: 80%;
  top: 10%;
  left: 10%;
  animation-name: slidein;
  animation-duration: .7s;
  border-radius: 12px;
  display: none;
}

@keyframes slidein {
  0% {top: -50%;}
  100% {top: 10%;}
}

/*info for text in menubox*/
.text {
  color: white;
  padding: 0px 14px 14px 14px;
  font-size: 20px;
  text-decoration: none;
}
.hyperlink {
  text-decoration: none;
  color: lightblue;
}
.hyperlink:hover {
  color: orange;
}


/*title in menubox*/
.menuBoxTitle {
  font-size: 30px;
  border-bottom:2px solid #444;
  text-align: center;
  color: white;
}
